In [38]:
import pandas as pd
import numpy as np
from glob import glob
import seaborn as sns
import matplotlib.pyplot as plt
plt.rc('font', family='NanumGothic')

In [35]:
files = glob('seoul_data/*.csv')
files

['seoul_data\\sales_summary_data_20214q.csv',
 'seoul_data\\test.csv',
 'seoul_data\\상권_추정매출.csv(2017_2021).csv',
 'seoul_data\\상권배후지_소득소비.csv',
 'seoul_data\\서울_상권_점포_수.csv',
 'seoul_data\\서울_상주배후지_상주인구.csv',
 'seoul_data\\서울특별시_상권배후지_생활인구.csv',
 'seoul_data\\서울특별시_상권배후지_아파트.csv',
 'seoul_data\\서울특별시_상권배후지_직장인구.csv',
 'seoul_data\\서울특별시_상권배후지_집객시설.csv',
 'seoul_data\\서울특별시_행정동별_상권변화지표.csv',
 'seoul_data\\자치구_평당임대료.csv',
 'seoul_data\\자치구별_상권_변화지표.csv']

In [24]:
df_2 = pd.read_csv(files[-2], encoding='cp949')
df_2.columns = ['구', '1분기', '2분기', '3분기', '4분기', '연평균임대료']
df_2 = df_2.set_index('구')
df_2

          1분기      2분기      3분기      4분기   연평균임대료
구
강남구   144,439  149,499  148,812  150,923  148,418
강동구   100,977  100,028  101,279  106,353  102,159
강북구    80,923   80,273   84,915   89,810   83,980
강서구   104,230  110,374  113,396  118,852  111,713
관악구   103,955  103,540  106,099  107,310  105,226
광진구    95,417   96,656  101,067  107,323  100,116
구로구   105,966   97,783  101,003  101,315  101,517
금천구   105,868  107,747  106,915  108,056  107,147
노원구    97,579   95,496   98,390  102,629   98,524
도봉구    78,231   76,683   80,695   84,510   80,030
동대문구   89,018   91,289   93,444   95,064   92,204
동작구   109,876  110,186  113,114  130,118  115,824
마포구   130,725  133,303  135,933  139,995  134,989
서대문구  100,489  103,918  109,684  114,173  107,066
서초구   126,590  127,061  128,173  128,544  127,592
성동구   109,532  117,655  122,059  128,099  119,336
성북구    89,035   90,713   94,592   99,058   93,350
송파구   144,891  156,502  153,066  153,891  152,088
양천구    97,772   98,397  101,719  103,309  100,299
영등포구  104,653  104,205  106,931  110,217  106,502
용산구   119,217  119,769  122,682  125,736  121,851
은평구    88,659   86,457   91,664   96,815   90,899
종로구   167,269  165,171  171,612  177,511  170,391
중구    233,179  219,918  223,773  229,682  226,638
중랑구    89,047   89,873   90,648   84,927   88,624

In [25]:
df_1 = pd.read_csv(files[0])
df_3 = df_1[df_1['기준_분기_코드'] == 4].copy()
df_3

,기준_년_코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,서비스_업종_코드,서비스_업종_코드_명,분기당_매출_금액,분기당_매출_건수,...,기준_년월_코드,엑스좌표_값,와이좌표_값,시군구_코드,행정동_코드,구,동,주소,lat,lot
50,2017,4,A,골목상권,2110001,이북5도청사,CS100001,한식음식점,784677354,26801,...,202112,196193,456641,11110,11110560,종로구,평창동,종로구 평창동,37.611446,126.971968
51,2017,4,A,골목상권,2110001,이북5도청사,CS100007,치킨전문점,9694398,296,...,202112,196193,456641,11110,11110560,종로구,평창동,종로구 평창동,37.611446,126.971968
52,2017,4,A,골목상권,2110001,이북5도청사,CS100008,분식전문점,88005996,6794,...,202112,196193,456641,11110,11110560,종로구,평창동,종로구 평창동,37.611446,126.971968
53,2017,4,A,골목상권,2110001,이북5도청사,CS100009,호프-간이주점,34499951,482,...,202112,196193,456641,11110,11110560,종로구,평창동,종로구 평창동,37.611446,126.971968
54,2017,4,A,골목상권,2110001,이북5도청사,CS100010,커피-음료,1929870,229,...,202112,196193,456641,11110,11110560,종로구,평창동,종로구 평창동,37.611446,126.971968
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
790194,2021,4,U,관광특구,1001496,강남 마이스 관광특구,CS300035,인테리어,12566919,370,...,202112,205310,445727,11680,11680580,강남구,삼성1동,강남구 삼성1동,37.514562,127.060389
790195,2021,4,U,관광특구,1001496,강남 마이스 관광특구,CS300043,전자상거래업,10000000,94,...,202112,205310,445727,11680,11680580,강남구,삼성1동,강남구 삼성1동,37.514562,127.060389
790196,2019,4,R,전통시장,2130027,명동지하쇼핑센터(소공동지하쇼핑센터),CS100010,커피-음료,346732446,65231,...,202112,198361,451573,11140,11140520,중구,소공동,중구 소공동,37.563659,126.979496
790200,2020,4,R,전통시장,2130027,명동지하쇼핑센터(소공동지하쇼핑센터),CS100010,커피-음료,251614632,45774,...,202112,198361,451573,11140,11140520,중구,소공동,중구 소공동,37.563659,126.979496
790204,2021,4,R,전통시장,2130027,명동지하쇼핑센터(소공동지하쇼핑센터),CS100010,커피-음료,267854235,49308,...,202112,198361,451573,11140,11140520,중구,소공동,중구 소공동,37.563659,126.979496

In [26]:
df_3['구'].unique()

array(['종로구', '중구', '용산구', '성동구', '광진구', '동대문구', '성북구', '중랑구', '강북구',
       '도봉구', '노원구', '은평구', '서대문구', '마포구', '양천구', '강서구', '구로구', '금천구',
       '영등포구', '동작구', '관악구', '서초구', '강남구', '송파구', '강동구'], dtype=object)

In [33]:
df_5.columns

Index(['기준_년_코드', '기준_분기_코드', '상권_구분_코드', '상권_구분_코드_명', '상권_코드', '상권_코드_명',
       '서비스_업종_코드', '서비스_업종_코드_명', '분기당_매출_금액', '분기당_매출_건수', '주중_매출_비율',
       '주말_매출_비율', '월요일_매출_비율', '화요일_매출_비율', '수요일_매출_비율', '목요일_매출_비율',
       '금요일_매출_비율', '토요일_매출_비율', '일요일_매출_비율', '시간대_00~06_매출_비율',
       '시간대_06~11_매출_비율', '시간대_11~14_매출_비율', '시간대_14~17_매출_비율',
       '시간대_17~21_매출_비율', '시간대_21~24_매출_비율', '남성_매출_비율', '여성_매출_비율',
       '연령대_10_매출_비율', '연령대_20_매출_비율', '연령대_30_매출_비율', '연령대_40_매출_비율',
       '연령대_50_매출_비율', '연령대_60_이상_매출_비율', '주중_매출_금액', '주말_매출_금액', '월요일_매출_금액',
       '화요일_매출_금액', '수요일_매출_금액', '목요일_매출_금액', '금요일_매출_금액', '토요일_매출_금액',
       '일요일_매출_금액', '시간대_00~06_매출_금액', '시간대_06~11_매출_금액', '시간대_11~14_매출_금액',
       '시간대_14~17_매출_금액', '시간대_17~21_매출_금액', '시간대_21~24_매출_금액', '남성_매출_금액',
       '여성_매출_금액', '연령대_10_매출_금액', '연령대_20_매출_금액', '연령대_30_매출_금액',
       '연령대_40_매출_금액', '연령대_50_매출_금액', '연령대_60_이상_매출_금액', '주중_매출_건수',
       '주말_매출_건수', '월요일_매출_건수', '화요일_매출_건수', '수요일_매출_건수', '목요일_매출_건수',
       '금요일_매출_건수', '토요일_매출_건수', '일요일_매출_건수', '시간대_건수~06_매출_건수',
       '시간대_건수~11_매출_건수', '시간대_건수~14_매출_건수', '시간대_건수~17_매출_건수',
       '시간대_건수~21_매출_건수', '시간대_건수~24_매출_건수', '남성_매출_건수', '여성_매출_건수',
       '연령대_10_매출_건수', '연령대_20_매출_건수', '연령대_30_매출_건수', '연령대_40_매출_건수',
       '연령대_50_매출_건수', '연령대_60_이상_매출_건수', '점포수', '기준_년월_코드', '엑스좌표_값',
       '와이좌표_값', '시군구_코드', '행정동_코드', '구', '동', '주소', 'lat', 'lot', '평당 임대료'],
      dtype='object')

In [27]:
temp_list = []

for gu in df_3['구'].unique():
    df_4 = df_3[df_3['구'] == gu].copy()
    df_4['평당 임대료']= df_2.loc[gu, '4분기']
    temp_list.append(df_4)
    
df_5 = pd.concat(temp_list)
cols = ['기준_년_코드', '기준_분기_코드', '구', '동', '서비스_업종_코드_명', '분기당_매출_금액', '평당 임대료']
df_5 = df_5[df_5['기준_년_코드'] == 2021]
df_5['매장 월평균 매출'] = df_5['분기당_매출_금액'] / (df_5['점포수'] * 3)

,기준_년_코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,서비스_업종_코드,서비스_업종_코드_명,분기당_매출_금액,분기당_매출_건수,...,엑스좌표_값,와이좌표_값,시군구_코드,행정동_코드,구,동,주소,lat,lot,평당 임대료
255,2021,4,A,골목상권,2110001,이북5도청사,CS100001,한식음식점,727942726,30226,...,196193,456641,11110,11110560,종로구,평창동,종로구 평창동,37.611446,126.971968,"177,511"
256,2021,4,A,골목상권,2110001,이북5도청사,CS100008,분식전문점,125439204,13211,...,196193,456641,11110,11110560,종로구,평창동,종로구 평창동,37.611446,126.971968,"177,511"
257,2021,4,A,골목상권,2110001,이북5도청사,CS100009,호프-간이주점,10452437,380,...,196193,456641,11110,11110560,종로구,평창동,종로구 평창동,37.611446,126.971968,"177,511"
258,2021,4,A,골목상권,2110001,이북5도청사,CS100010,커피-음료,22035757,2139,...,196193,456641,11110,11110560,종로구,평창동,종로구 평창동,37.611446,126.971968,"177,511"
259,2021,4,A,골목상권,2110001,이북5도청사,CS200001,일반교습학원,78609957,208,...,196193,456641,11110,11110560,종로구,평창동,종로구 평창동,37.611446,126.971968,"177,511"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
785290,2021,4,R,전통시장,2130326,고덕 골목형상점가,CS300014,신발,3000000,129,...,215026,450949,11740,11740560,강동구,고덕2동,강동구 고덕2동,37.565862,127.163852,"106,353"
785291,2021,4,R,전통시장,2130326,고덕 골목형상점가,CS300017,시계및귀금속,3601119,136,...,215026,450949,11740,11740560,강동구,고덕2동,강동구 고덕2동,37.565862,127.163852,"106,353"
785292,2021,4,R,전통시장,2130326,고덕 골목형상점가,CS300018,의약품,2142331475,167430,...,215026,450949,11740,11740560,강동구,고덕2동,강동구 고덕2동,37.565862,127.163852,"106,353"
785293,2021,4,R,전통시장,2130326,고덕 골목형상점가,CS300021,문구,65806707,9259,...,215026,450949,11740,11740560,강동구,고덕2동,강동구 고덕2동,37.565862,127.163852,"106,353"
785294,2021,4,R,전통시장,2130326,고덕 골목형상점가,CS300022,화장품,61093963,447,...,215026,450949,11740,11740560,강동구,고덕2동,강동구 고덕2동,37.565862,127.163852,"106,353"

In [31]:
df_5.to_csv('seoul_data/sales_summary_data_20214q.csv')

In [32]:
df = pd.read_csv('seoul_data/sales_summary_data_20214q.csv')
df[df['구'] == '강남구']

,Unnamed: 0,기준_년_코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,서비스_업종_코드,서비스_업종_코드_명,분기당_매출_금액,...,엑스좌표_값,와이좌표_값,시군구_코드,행정동_코드,구,동,주소,lat,lot,평당 임대료
28959,398940,2021,4,A,골목상권,2110949,한남IC,CS100001,한식음식점,488643295,...,201717,446819,11680,11680510,강남구,신사동,강남구 신사동,37.522321,127.027694,"150,923"
28960,398941,2021,4,A,골목상권,2110949,한남IC,CS100002,중식음식점,106446548,...,201717,446819,11680,11680510,강남구,신사동,강남구 신사동,37.522321,127.027694,"150,923"
28961,398942,2021,4,A,골목상권,2110949,한남IC,CS100004,양식음식점,288625392,...,201717,446819,11680,11680510,강남구,신사동,강남구 신사동,37.522321,127.027694,"150,923"
28962,398943,2021,4,A,골목상권,2110949,한남IC,CS100007,치킨전문점,24901892,...,201717,446819,11680,11680510,강남구,신사동,강남구 신사동,37.522321,127.027694,"150,923"
28963,398944,2021,4,A,골목상권,2110949,한남IC,CS100008,분식전문점,40918167,...,201717,446819,11680,11680510,강남구,신사동,강남구 신사동,37.522321,127.027694,"150,923"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31291,790191,2021,4,U,관광특구,1001496,강남 마이스 관광특구,CS300028,화초,997157377,...,205310,445727,11680,11680580,강남구,삼성1동,강남구 삼성1동,37.514562,127.060389,"150,923"
31292,790192,2021,4,U,관광특구,1001496,강남 마이스 관광특구,CS300031,가구,11911789492,...,205310,445727,11680,11680580,강남구,삼성1동,강남구 삼성1동,37.514562,127.060389,"150,923"
31293,790193,2021,4,U,관광특구,1001496,강남 마이스 관광특구,CS300032,가전제품,1717076948,...,205310,445727,11680,11680580,강남구,삼성1동,강남구 삼성1동,37.514562,127.060389,"150,923"
31294,790194,2021,4,U,관광특구,1001496,강남 마이스 관광특구,CS300035,인테리어,12566919,...,205310,445727,11680,11680580,강남구,삼성1동,강남구 삼성1동,37.514562,127.060389,"150,923"
31295,790195,2021,4,U,관광특구,1001496,강남 마이스 관광특구,CS300043,전자상거래업,10000000,...,205310,445727,11680,11680580,강남구,삼성1동,강남구 삼성1동,37.514562,127.060389,"150,923"

In [21]:
df['상권_구분_코드_명'].unique()

array(['골목상권', '발달상권', '전통시장', '관광특구'], dtype=object)

In [5]:
    df_1.columns

Index(['기준_년_코드', '기준_분기_코드', '상권_구분_코드', '상권_구분_코드_명', '상권_코드', '상권_코드_명',
       '서비스_업종_코드', '서비스_업종_코드_명', '분기당_매출_금액', '분기당_매출_건수', '주중_매출_비율',
       '주말_매출_비율', '월요일_매출_비율', '화요일_매출_비율', '수요일_매출_비율', '목요일_매출_비율',
       '금요일_매출_비율', '토요일_매출_비율', '일요일_매출_비율', '시간대_00~06_매출_비율',
       '시간대_06~11_매출_비율', '시간대_11~14_매출_비율', '시간대_14~17_매출_비율',
       '시간대_17~21_매출_비율', '시간대_21~24_매출_비율', '남성_매출_비율', '여성_매출_비율',
       '연령대_10_매출_비율', '연령대_20_매출_비율', '연령대_30_매출_비율', '연령대_40_매출_비율',
       '연령대_50_매출_비율', '연령대_60_이상_매출_비율', '주중_매출_금액', '주말_매출_금액', '월요일_매출_금액',
       '화요일_매출_금액', '수요일_매출_금액', '목요일_매출_금액', '금요일_매출_금액', '토요일_매출_금액',
       '일요일_매출_금액', '시간대_00~06_매출_금액', '시간대_06~11_매출_금액', '시간대_11~14_매출_금액',
       '시간대_14~17_매출_금액', '시간대_17~21_매출_금액', '시간대_21~24_매출_금액', '남성_매출_금액',
       '여성_매출_금액', '연령대_10_매출_금액', '연령대_20_매출_금액', '연령대_30_매출_금액',
       '연령대_40_매출_금액', '연령대_50_매출_금액', '연령대_60_이상_매출_금액', '주중_매출_건수',
       '주말_매출_건수', '월요일_매출_건수', '화요일_매출_건수', '수요일_매출_건수', '목요일_매출_건수',
       '금요일_매출_건수', '토요일_매출_건수', '일요일_매출_건수', '시간대_건수~06_매출_건수',
       '시간대_건수~11_매출_건수', '시간대_건수~14_매출_건수', '시간대_건수~17_매출_건수',
       '시간대_건수~21_매출_건수', '시간대_건수~24_매출_건수', '남성_매출_건수', '여성_매출_건수',
       '연령대_10_매출_건수', '연령대_20_매출_건수', '연령대_30_매출_건수', '연령대_40_매출_건수',
       '연령대_50_매출_건수', '연령대_60_이상_매출_건수', '점포수', '기준_년월_코드', '엑스좌표_값',
       '와이좌표_값', '시군구_코드', '행정동_코드', '구', '동', '주소', 'lat', 'lot'],
      dtype='object')

In [16]:
cols = [ '기준_분기_코드', '서비스_업종_코드_명', '점포수', '분기당_매출_건수', '분기당_매출_금액', '분기당_매출_건수', '주중_매출_비율',
       '주말_매출_비율', '월요일_매출_비율', '화요일_매출_비율', '수요일_매출_비율', '목요일_매출_비율',
       '금요일_매출_비율', '토요일_매출_비율', '일요일_매출_비율']

In [17]:
df_1[cols]

,기준_분기_코드,서비스_업종_코드_명,점포수,분기당_매출_건수,분기당_매출_금액,분기당_매출_건수,주중_매출_비율,주말_매출_비율,월요일_매출_비율,화요일_매출_비율,수요일_매출_비율,목요일_매출_비율,금요일_매출_비율,토요일_매출_비율,일요일_매출_비율
0,1,한식음식점,27,28082,816890247,28082,61,39,12,12,13,12,12,20,19
1,1,치킨전문점,3,517,19223252,517,46,54,7,8,12,4,15,32,22
2,1,분식전문점,9,5755,75483418,5755,75,25,16,16,11,14,18,14,11
3,1,호프-간이주점,9,1306,46115226,1306,68,33,15,10,13,11,18,18,15
4,1,커피-음료,9,1607,22041409,1607,91,9,19,17,19,19,16,6,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
790200,4,커피-음료,3,45774,251614632,45774,82,18,16,16,17,16,16,10,8
790201,1,커피-음료,3,37768,207645990,37768,82,18,17,16,17,15,17,9,9
790202,2,커피-음료,3,53227,288964435,53227,81,19,16,16,16,16,17,9,10
790203,3,커피-음료,3,56307,308293816,56307,80,20,15,15,15,18,17,11,10
790204,4,커피-음료,3,49308,267854235,49308,81,19,15,15,16,17,17,10,9

In [9]:
cols = ['주중_매출_금액', '주말_매출_금액', '월요일_매출_금액',
       '화요일_매출_금액', '수요일_매출_금액', '목요일_매출_금액', '금요일_매출_금액', '토요일_매출_금액',
       '일요일_매출_금액']
df_1[cols]

,주중_매출_금액,주말_매출_금액,월요일_매출_금액,화요일_매출_금액,수요일_매출_금액,목요일_매출_금액,금요일_매출_금액,토요일_매출_금액,일요일_매출_금액
0,497915307,318974940,95800777,95212641,107801237,97573067,101527585,163389524,155585416
1,8878303,10344949,1417275,1568297,2230467,731872,2930392,6162825,4182124
2,56707526,18775892,11936429,11834046,8616564,10467293,13853194,10336742,8439150
3,31112838,15002388,6947272,4747604,5929784,5182102,8306076,8101806,6900582
4,20034266,2007143,4283805,3761798,4141614,4234966,3612083,1419302,587841
...,...,...,...,...,...,...,...,...,...
790200,205944142,45670490,41183893,41020027,43340814,40681432,39717976,25052877,20617613
790201,170647613,36998377,34899697,34054696,35458424,31745753,34489043,18851601,18146776
790202,234629732,54334703,47505601,47072242,45249963,46844210,47957716,26827772,27506931
790203,246372865,61920951,45342755,45387177,46339776,55924014,53379143,32729942,29191009
790204,216013073,51841162,39658747,40826544,43666576,45888649,45972557,27042970,24798192